@import "./styles/_sl-base";
@import "./styles/_sl-components";
@import "./styles/_sl-utils";
/* @import "./styles/_sl-props.css"; */

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Hannari";
    /* ローカルフォントファイルへの相対パスを`url()`で指定します。 */
    src: url("/fonts/HannariMincho-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
/* @font-face {
    font-family: "和田研細丸ゴシック";
    src: url("/fonts/wlmaru2004emojip.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
} */
